<div class="container">

  <table class="table table-inverse table-striped">
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Model</th>
      <th class="text-right">Purchase Price (£)</th>
    </tr>
    <tr *ngFor="let vehicle of vehicles">
      <td>
        <a class="text-info" [routerLink]="['/admin/view', vehicle.id]">{{vehicle.name}}</a>
      </td>
      <td>
        {{vehicle.email}}
      </td>
      <td>
        {{vehicle.model}}
      </td>
      <td class="text-right">
        {{vehicle.purchasePrice}}
      </td>
    </tr>
  </table>
</div>
